##定义初始变量
#set($tableName = $tool.append($tableInfo.name, "Manager"))
##设置回调
$!context.setFileName($tool.append($tableName, ".java"))
$!context.setSavePath($tool.append($sourcePath, "/manager/impl"))

##拿到主键
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end

#if($tableInfo.savePackageName)package $!{tableInfo.savePackageName}.#{end}manager.impl;

import $!{tableInfo.savePackageName}.model.$!{tableInfo.name};
import $!{tableInfo.savePackageName}.service.I$!{tableInfo.name}Service;
import $!{tableInfo.savePackageName}.manager.I$!{tableInfo.name}Manager;

import org.springframework.stereotype.Service;
import topmall.framework.service.IService;
import topmall.framework.manager.BaseManager;
import javax.annotation.Resource;


/**
 * $!{tableInfo.comment}($!{tableInfo.name})
 *
 * @author $!author
 * @since $!time.currTime()
 */
@Service("$!tool.firstLowerCase($!{tableInfo.name})Manager")
public class $!{tableName} extends BaseManager<$!{tableInfo.name},$!{tool.getClsNameByFullName($pk.type)}> implements I$!{tableInfo.name}Manager {

    @Resource
    private I$!{tableInfo.name}Service service;

    protected IService<$!{tableInfo.name},$!{tool.getClsNameByFullName($pk.type)}> getService(){
        return service;
    }

}