##定义初始变量
#set($tableName = $tool.append($tableInfo.name, "Controller"))
##设置回调
$!context.setFileName($tool.append($tableName, ".java"))
$!context.setSavePath($tool.append($sourcePath, "/controller"))
##拿到主键
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end

#if($tableInfo.savePackageName)package $!{tableInfo.savePackageName}.web.#{end}controller;

import java.util.HashMap;
import java.util.List;
import java.util.Map;

import javax.annotation.Resource;
import javax.servlet.http.HttpServletRequest;

import org.springframework.stereotype.Controller;
import org.springframework.ui.Model;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.ResponseBody;

import $!{tableInfo.savePackageName}.model.$!{tableInfo.name};
import $!{tableInfo.savePackageName}.manager.I$!{tableInfo.name}Manager;


import com.yougou.logistics.base.common.exception.ManagerException;
import com.yougou.logistics.base.web.controller.BaseCrudController;


/**
 * $!{tableInfo.comment}($!{tableInfo.name})表控制层
 *
 * @author $!author
 * @since $!time.currTime()
 */
@RestController
@RequestMapping("$!{tableInfo.obj.name}")
public class $!{tableName}  extends BaseCrudController<$!{tableInfo.name}> {
    /**
     * 服务对象
     */
    @Autowired
    private I$!{tableInfo.name}Manager $!tool.firstLowerCase($tableInfo.name)Manager;

    @Override
    public CrudInfo init() {
        return new CrudInfo("$!tool.firstLowerCase($tableInfo.name)/",$!tool.firstLowerCase($tableInfo.name)Manager);
    }

}
