##定义初始变量
#set($tableName = $tool.append($tableInfo.name, "Controller"))
##设置回调
$!context.setFileName($tool.append($tableName, ".java"))
$!context.setSavePath($tool.append($sourcePath, "/controller"))
##拿到主键
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end

#if($tableInfo.savePackageName)package $!{tableInfo.savePackageName}.web.#{end}controller;

import $!{tableInfo.savePackageName}.model.$!{tableInfo.name};
import $!{tableInfo.savePackageName}.manager.I$!{tableInfo.name}Manager;
import org.springframework.web.bind.annotation.*;
import topmall.framework.web.controller.ApiController;
import cn.mercury.manager.IManager;
import org.springframework.beans.factory.annotation.Autowired;
import javax.annotation.Resource;
/**
 * $!{tableInfo.comment}($!{tableInfo.name})表控制层
 *
 * @author $!author
 * @since $!time.currTime()
 */
@RestController
@RequestMapping("$!{tableInfo.obj.name}")
public class $!{tableName}  extends ApiController<$!{tableInfo.name},$!{tool.getClsNameByFullName($pk.type)}> {
    /**
     * 服务对象
     */
    @Resource
    private I$!{tableInfo.name}Manager manager;

    protected IManager<$!{tableInfo.name},$!{tool.getClsNameByFullName($pk.type)}> getManager(){
        return manager;
    }

}
