##定义初始变量
#set($tableName = $tool.append($tableInfo.name, "Service"))
##设置回调
$!context.setFileName($tool.append($tableName, ".java"))
$!context.setSavePath($tool.append($sourcePath, "/service/impl"))

##拿到主键
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end

#if($tableInfo.savePackageName)package $!{tableInfo.savePackageName}.#{end}service.impl;

import $!{tableInfo.savePackageName}.model.$!{tableInfo.name};
import $!{tableInfo.savePackageName}.repository.$!{tableInfo.name}Repository;
import $!{tableInfo.savePackageName}.service.I$!{tableInfo.name}Service;

import org.springframework.stereotype.Service;
import topmall.framework.repository.IRepository;
import topmall.framework.service.BaseService;
import javax.annotation.Resource;

/**
 * $!{tableInfo.comment}($!{tableInfo.name})表服务实现类
 *
 * @author $!author
 * @since $!time.currTime()
 */
@Service("$!tool.firstLowerCase($!{tableInfo.name})Service")
public class $!{tableName} extends BaseService<$!{tableInfo.name},$!{tool.getClsNameByFullName($pk.type)}> implements I$!{tableInfo.name}Service {
    @Resource
    private $!{tableInfo.name}Repository repository;

    protected IRepository<$!{tableInfo.name},$!{tool.getClsNameByFullName($pk.type)}> getRepository(){
        return repository;
    }

}